body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.collapse{
  display: flex;
  justify-content: start;
  justify-content: space-between;

}
/* .card{
  display: flexbox ;

  justify-content: space-around;
  flex-wrap: wrap;
  background-color: aqua;
  

} */
/* .col{
background-color: white;
} */
header{
  background-color: aqua;
}
/* .row{
  background-color: blueviolet;
 
  width: 16rem;
  height: 22rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;

} */